<p><%= "#{pluralize(@notes.count, "note")}" %></p>

<table>
    <thead>
        <th>Rating</th>
        <th>Notes</th>
    </thead>
    <tbody>
        <% @notes.each do |n| %>
        <tr>
            <td><%= n.rating %></td>
            <td><%= n.tasting_notes %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to('New Note', new_note_path) %>