<% if object.errors.any? %>
<div class="row" id="error_explanation">
  <div class="small-12 columns">
    <h2><%= pluralize(object.errors.count, 'error') %> prohibited this <%= object.class.name.humanize.downcase %> from being saved:</h2>
  
    <ul>
      <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>