<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="row">
      <div class="small-12 column">
        <div data-closable class="<%= foundation_flash_class(name) %>">
          <%= content_tag :div, msg %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>